* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('/images/wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30rem;
}

.board > div {
  height: 10rem;
  width: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}